---
layout: content.html
title: Support
---

<dl>
  <dt>How can I edit the details on the virtual background?</dt>
  <dd>You can edit any of the details on the virtual background by simply clicking on them, and then editing them as you would using a regular Word processor. </dd>

  <dt>How can I add a logo/picture to the virtual background?</dt>
  <dd>To add a logo or picture to the virtual background, click the <em>Upload you logo</em> button, on the virtual background preview. If you've already uploaded a picture, click it again to upload a different one. </dd>

  <dt>How can I change the text styles (size, weight, font, etc.)?</dt>
  <dd>Select any of the text on the virtual background, and the text editing toolbar will show up above the selected text, allowing you to edit the text styles. </dd>

  <dt>What's the best logo size? </dt>
  <dd>The <em>width</em> of your logo should be at least <em>400px</em>, for best print results. The <em>height</em> can be as large or small as you need it, but it's good to have it as to the close to the width value as possible, to keep a square form factor. </dd>

  <dt>What is the size of the downloaded JPG?</dt>
  <dd>
    The downloaded virtual background is 1920x1080. For information on changing your virtual background:<br>
    <a href="https://support.zoom.us/hc/en-us/articles/210707503-Virtual-Background#:~:text=While%20in%20a%20Zoom%20meeting,background%20will%20be%20automatically%20applied.">Zoom</a><br>
    <a href="https://help.webex.com/en-us/80jduab/Use-a-Virtual-Background-in-the-Cisco-Webex-Meetings-Suite">Webex</a><br>
    <a href="https://support.microsoft.com/en-us/office/change-your-background-for-a-teams-meeting-f77a2381-443a-499d-825e-509a140f4780">Microsoft Teams</a>
  </dd>

  <dt>
    How do you handle the information on the virtual background, and elsewhere on the website?
  </dt>
  <dd>
    We do not collect, share, or market, your personal or business details in any way. 
  </dd>

  <dt>How can I report bugs or suggest improvements?</dt>
  <dd>You may contact us below with any questions.</dd>

</dl>

<a href="mailto:support@callerdojo.com" class="box-contact button">
  <strong>
    <i class="fa fa-envelope"></i>
    Email
  </strong>

  support@callerdojo.com
</a>
