---
layout: content.html
title: Privacy Policy
---

<ul>
  <li>
    We do not collect, sell, or market, your personal or business details in any way.
  </li>
  <li>
    The details you enter on the virtual background are stored only in your browser.
  </li>
  <li>
    We use Matomo Analytics to track visitor numbers and some limited behavior like the number of downloaded virtual backgrounds. Matomo is a privacy/GDPR compliant analytics platform.
  </li>
  <li>
    We do not store any of your personal or business information in Matomo Analytics. Your IP address is anonymized.
  </li>
</ul>

<h4>
  Changes
</h4>

<p>
  We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
</p>

<h4>
  Contact Us
</h4>

<p>
  For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:support@callerdojo.com">support@callerdojo.com</a>.
</p>

<p>
  This document was last updated on {{moment format="DD MMMM YYYY"}}.
</p>
